@mixin blocks($blocks){
     background: #333;
     float: left;
     margin-right: 10px;

     @if( $blocks == 5 ){
        width: 15%;
     }

     @if( $blocks != 5 ){
        width: 5%;
     }

     @if( $blocks > 5 ){
        width: 100%;
        margin-bottom: 10px;
     }
}